

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
}
html {
    text-align: center;
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: #001F3F;
}
.welcome-section {
    border:dotted red;
    /* width: 100%; */
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
h1, h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;

}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
}
:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}
.welcome-section > p {
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
    color: var(--main-red);
}
.nav {
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-red);
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    z-index: 10;
}
.nav-list {
    display: flex;
    margin-right: 2rem;
}
.nav-list a {
    display: block;
    transition: all .35s ease;
    color: #fff;
    border: 1.3px solid white;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
    margin: 8px;
}

.nav-list a:hover  {
    color: #001F3F;
    background-color: #fff;
}
a {
    text-decoration: none;
    color: var(--main-white);
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul {
    list-style: none;
}
.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
}
.projects-section {
    /* width: 100%; */
    display: block;
    text-align: center;
    padding: 6rem 2rem;
    background: var(--main-blue);
}

.projects-grid {
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
    grid-template-rows: repeat(3, 660px);
    gap: 10px;
    justify-items: center;
}
.contact-section {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    background: var(--main-gray);
}
.contact-links {
    text-align: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}
.btn-contact-details-git {
    font-size: 2.4rem;
    padding-left: 40rem;
}

.btn-contact-details-mail {
    font-size: 2.4rem;
    padding-left: 20rem;
    padding-bottom: -20rem
}

h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h4 {
    text-align: center;
    padding-right: 400px;
}

.project-image {
    width: 800px;
    border-radius: 9px;
}

.project-image:hover {
    animation: pulse .6s;
    box-shadow: 5px 5px 50px blue;
}

.project-image2 {
    width: 800px;
    border-radius: 9px;
}

.project-image2:hover {
    animation: pulse .6s;
    box-shadow: 5px 5px 50px rgb(255, 230, 0);
}

.project-image3 {
    width: 800px;
    border-radius: 9px;
}

.project-image3:hover {
    animation: pulse .6s;
    box-shadow: 5px 5px 50px rgb(208, 215, 208);
}


.project-image4 {
    width: 800px;
    border-radius: 9px;
}

.project-image4:hover {
    animation: pulse .6s;
    box-shadow: 5px 5px 50px green;
}


.project-title {
    font-weight: 900;
}

.project-title2 {
    font-weight: 900;
}

.project-title3 {
    font-weight: 900;
}

.project-title4 {
    font-weight: 900;
}

.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}